
{% extends 'html/base.html' %}
{% block title %}Student  Attendance View {% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-8 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Faculty Attendance View</h3>
			<div class="row">
				<div class="col">
					<table class="table table-borderless">
				<tr>
					<th>Course Name</th>
					<td>{{z.coursename}}</td>
				</tr>
				<tr>
					<th>Attended Classes</th>
					<td>{{z.attendedclasses}}</td>
					
				</tr>
				<tr>
					<th>Total Classes</th>
					<td>{{z.totalclasses}}</td>
				</tr>
				<tr>
					<th>Attendance</th>
					<td>{{z.attendance}}</td>
				</tr>
				<tr>
					<th>Classes to attend</th>
					<td>{{z.classestoattend}}</td>
				</tr>
			</table>
				</div>
			</div>
			<a href="{% url 'sta1' %}" class="btn btn-block btn-outline-info my-2">Back to List</a>
		</div>
	</div>
</div>
{% endblock %} 

