
{% extends 'html/base.html' %}
{% load static %}
{% block title %}Student  Leave View {% endblock %}
{% block content %}
<div class="container mt-4">
	<div class="card col-md-8 mx-auto shadow-lg">
		<div class="card-body">
			<h3>Faculty Leave View</h3>
			<div class="row">
				<div class="col">
					<table class="table table-borderless">
				<tr>
					<th>Student Id</th>
					<td>{{z.lstuid}}</td>
				</tr>
				<tr>
					<th>Student/Faculty</th>
					<td>
						{% if z.0 == 'ST' %}
							<span class="badge badge-success">Faculty</span>
							{% else %}
							<span class="badge badge-danger">Student</span>
							{% endif %}
						
					</td>
				</tr>
				<tr>
					<th>Student Leave Date</th>
					<td>{{z.leavestu}}</td>
				</tr>
				
			</table>
				</div>
			</div>
			<a href="{% url 'slt1' %}" class="btn btn-block btn-outline-info my-2">Back to List</a>
		</div>
	</div>
</div>
{% endblock %} 

